@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Campton';
  src: url('./assets/font/CamptonBook.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Campton';
  src: url('./assets/font/Campton-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Campton';
  src: url('./assets/font/Campton-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(52, 52, 52, 0.51);
  border-radius: 4px;
  min-height: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 52, 52, 1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input,
select,
label,
textarea {
  font-family: inherit !important;
  font-weight: inherit !important;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: 'Campton';
  font-size: 16px !important;
  line-height: 1;
  color: #343434;
}